
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    var texto = "";
    var sesion = (MockupApp.Models.sp_LoginUsuario_Result)Session["usuario"];
    if (sesion != null)
    {
        texto = sesion.nombres + " " + sesion.apellidos;

    }
    var reporte = new MockupApp.Models.sp_ReportesVenta_Result();
    if (sesion.idRol == 1)
    {
        reporte = ViewBag.reporte as MockupApp.Models.sp_ReportesVenta_Result;
    }
}





<br />
<h2>Dashboard</h2>
<ol class="breadcrumb mb-4">

    <li class="breadcrumb-item active">Dashboard</li>
</ol>

@if (reporte != null && sesion.idRol == 1)
{
    <h3>Tu resumen:</h3>
    <br />
    <div class="row">

        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-3">

            <div class="card text-bg-primary mb-3">
                <div class="card-header">Ventas</div>
                <div class="card-body">
                    <h5 class="card-title">Cantidad de ventas</h5>
                    <div class="row">
                        <div class="col-7 " style="vertical-align: baseline;">
                            <br />
                            <h1 class="fs-2 fw-bold">@reporte.cantidad</h1>
                        </div>
                        <div class="col-5 text-end">
                            <img src="https://res.cloudinary.com/dl1mbt9jb/image/upload/v1692238170/recursos/pngwing.com_3_i2nbcj.png" width="100" height="90" />
                        </div>
                    </div>

                </div>
            </div>

        </div>



        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-3">

            <div class="card text-bg-warning mb-3">
                <div class="card-header">Ganancia</div>
                <div class="card-body">
                    <h5 class="card-title">Dinero por venta</h5>
                    <div class="row">
                        <div class="col-7 " style="vertical-align: baseline;">
                            <br />
                            <h1 class="fs-2 fw-bold">$@reporte.total</h1>
                        </div>
                        <div class="col-5 text-end">
                            <img src="https://res.cloudinary.com/dl1mbt9jb/image/upload/v1692236113/recursos/dinero_oml8xf.png" width="100" height="90" />
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-3">

            <div class="card text-bg-danger mb-3">
                <div class="card-header">Comisión</div>
                <div class="card-body">
                    <h5 class="card-title">Comisiones por Paypal</h5>
                    <div class="row">
                        <div class="col-7 " style="vertical-align: baseline;">
                            <br />
                            <h1 class="fs-2 fw-bold">-$@reporte.paypal</h1>
                        </div>
                        <div class="col-5 text-end">
                            <img src="https://res.cloudinary.com/dl1mbt9jb/image/upload/v1692238023/recursos/pngwing.com_1_rjkxvk.png" height="90" />
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-3">

            <div class="card text-bg-success mb-3">
                <div class="card-header">Ganancia total</div>
                <div class="card-body">
                    <h5 class="card-title">Ganancia neta</h5>
                    <div class="row">
                        <div class="col-7 " style="vertical-align: baseline;">
                            <br />
                            <h1 class="fs-2 fw-bold">$@reporte.ganancia</h1>
                        </div>
                        <div class="col-5 text-end pe-4">
                            <img src="https://res.cloudinary.com/dl1mbt9jb/image/upload/v1692238105/recursos/pngwing.com_2_c051mb.png" height="90" />
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

}
<br />
<h3>Bienvenido: <span class="fs-4">@texto</span></h3>
<br />








@section scripts{
    <script>
        function mostrar() {
            $("#liveToast").show()
            //$("#liveToast").delay() = 5000
            setTimeout(() => {
                $("#liveToast").hide()
            }, 5000);


        }
    </script>
}