
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    var texto = "";
    var sesion = (MockupApp.Models.sp_LoginUsuario_Result)Session["usuario"];
    if (sesion != null)
    {
        texto = sesion.nombres + " " + sesion.apellidos;

    }
}





<br />
<h2>Bievenido a tu Dashboard, @texto</h2>













@section scripts{ 
  <script>
      function mostrar(){
          $("#liveToast").show()
          //$("#liveToast").delay() = 5000
          setTimeout(() => {
              $("#liveToast").hide()
          }, 5000);

          
      }
  </script>
}